/* Przesunięcie zawartości w prawo na urządzeniach mobilnych */
@media (max-width: 768px) {
  body {
    margin-left: 50%; /* Przesunięcie zawartości w prawo */
  }
  
  form {
    width: 100%; /* Zapewnienie, że formularz wypełnia dostępne miejsce */
  }

  .section {
    margin-left: 50%; /* Przesunięcie sekcji w prawo */
  }
}


/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #c9c9c9d0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #00aeff;
  font-size: 2em;
  margin-top: 20px;
  text-shadow: 0 0 2.5px #000000;
}

h2,
p > b {
  font-weight: bold;
}

form {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000009d;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: normal;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 1em;
  color: #fff;
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004494;
}

pre {
  width: 80%;
  max-width: 600px;
  background-color: #efe9e9;
  padding: 15px;
  border-radius: 8px;
}

form label,
form input[type="number"],
form input[type="text"],
form select {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 5px;
}

input[type="number"],
input[type="text"],
select {
  width: 170px;
  padding: 5px;
}

form p {
  margin-top: 10px;
  margin-bottom: 1px;
}

/*
.section0 {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
}

.section1 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}

 .section2 {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
} 

.section3 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
} 
.section4 {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
}

.section5 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}

.section6 {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
}

.section7 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}
.section8 {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
}
  */

/* Stylizacja przycisku ikony menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #ffffff00;
  color: #000000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-toggle:hover {
  background-color: #ffffff31;
}

/* Stylizacja rozwijanego menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  min-width: 160px;
}

.dropdown-menu label {
  display: block;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu label:hover {
  background-color: #ddd;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 10px;
}

select {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}
button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}


